<%inherit file="admin-template.html" />

<div class="page-header">
	<h1>Manage Posts</h1>
	<small>Edit, archive or publish posts.</small>
</div>

% if not success:
	<div class="alert alert-danger">
		${message}
	</div>

% else:
	% if len(message) > 0:
		<div class="alert alert-success alert-dismissable">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			${message}
		</div>
	% endif

	% if numPages <= 0:
		<div class="alert alert-info">
			There are no posts to manage. How about you
			<a href="/admin/writepost">write something</a>?
		</div>

	% else:
		<table id="postsTable" class="table table-striped">
			<thead>
				<tr>
					<th>&nbsp;</th>
					<th style="width: 60%;">Title</th>
					<th style="width: 10%;">Status</th>
					<th style="width: 11%;">Published</th>
					<th style="width: 19%;">Tags</th>
				</tr>
			</thead>

			<tbody>
				% for post in posts:
					<tr>
						<td>
							<div class="btn-group">
								<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
									<span class="glyphicon glyphicon-cog"></span>
									<span class="caret"></span>
								</button>
								<ul class="dropdown-menu" role="menu">
									% if post["status"] == "Draft" or post["status"] == "Archived":
										<li><a href="#" class="publishLink" data-id="${post['id']}"><span class="glyphicon glyphicon-cloud-upload"></span>&nbsp; Publish</a></li>
										<li><a href="#" class="deleteLink" data-id="${post['id']}"><span class="glyphicon glyphicon-trash"></span>&nbsp; Delete</a></li>
									% endif

									% if post["status"] == "Published":
										<li><a href="#" class="archiveLink" data-id="${post['id']}"><span class="glyphicon glyphicon-folder-close"></span>&nbsp; Archive</a></li>
										<li><a href="${post['permalink']}" target="_blank" class="viewPostLink"><span class="glyphicon glyphicon-new-window"></span>&nbsp; View Post</a></li>
									% endif


								</ul>
							</div>
						</td>
						<td>
							<a href="/admin/editpost/${post['id']}">${post["title"]}</a>
						</td>
						<td>${post["status"]}</td>
						<td>${post["publishedDateTime"]}</td>
						<td>${post["tagList"]}</td>
					</tr>
				% endfor
			</tbody>
		</table>

		<%block name="script">
			<script type="text/javascript" src="/static/js/app/admin-posts.js"></script>
		</%block>
	% endif
% endif