<%inherit file="admin-template.html" />

<div class="page-header">
	<h1>Dashboard</h1>
	<small>Welcome to the administrator.</small>
</div>

<div class="row">
	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading">Posts By Month</div>
			<div class="panel-body">
				<div id="chart" style="width: 100%; height: 225px;"></div>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading">Total Visits vs. New Visits</div>
			<div class="panel-body">
				<div id="timelineChart" style="height: 225px;"></div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading">Browser Stats</div>
			<div class="panel-body">
				<div id="browserChart" style="height: 225px;"></div>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading">Page Traffic</div>
			<div class="panel-body">
				<div id="pageChart" style="height: 225px;"></div>
			</div>
		</div>
	</div>
</div>

<%block name="script">
	<script type="text/javascript" src="/static/js/app/admin-dashboard.js"></script>
</%block>